header {
	
}

body {
	line-height: 150%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
}

hr {
	margin: 20px;
	border-color: #ddd;
}

#boxed-header {
	color: #fff;
	background-color: #4aaaa5;
	padding: 20px;
	width: 250px;
	text-align: center;
	float: left;
	position: relative;
	bottom: 0;
}

#logo {
	width: 50px;
	height: 50px;
}
nav {
	float: right;
	color: #ccc;
	margin: 20px;
	margin-top: 40px;
}

h1, h3 {
	color: #4aaaa5;
	font-family: Georgia, Times, "New Times Roman", serif;
}

.icon {
	float: left;
	margin: 10px;
}

.content-wrapper {
	width: 100%;
	padding: 20px 20px;
	clear:both;	
	background-image: url(../images/ep_naturalwhite.png);

}

.content {
	width: 650px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	border: solid;
	border-color: #ddd;
}
.project-title {

}


#about-me {
	float: left;
}

.connect {
	width: 270px;
	border: solid;
	border-color: #ddd;
	background-color: #fff;
	position: absolute;
	right: 2%;
	top: 15%;
	margin-top: 40px;
	
}




footer {
	background-color: #666666;
	color: #ffffff;
	margin: 0;
	padding: 30px;
	text-align: center;
	clear: both;
}



.clear{
	clear: both;
}